footer {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0;
    border-top: solid 2px #e2e8f0;
    flex-shrink: 0;
}

footer a {
    display: inline-flex;
    margin: 0 0.25rem;
}

footer a img {
    margin-left: 0.25rem;
}
